

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	background: #0c192c;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: inline;
    
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #fcb045;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #fcb04544, 0 0 50px #fcb045, 0 0 100px #fcb045;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i)) ;
}
.bubbles span:nth-child(even){
    background: #ed7070;
    box-shadow: 0 0 0 10px #ed707044, 0 0 50px #ed7070, 0 0 100px #ed7070;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
